*{
  margin: 0;
}


.dataBox{
  background-color: beige;
  padding: 15px;
  margin: 20px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 5px;
}

.dataBox button{
  background-color: white;
  border: 0.5px;
  border-radius: 5px;
  color: black;
}